    .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        top: 40px;
        padding: 0px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

#searchform {
    margin: 12px 0px 0px 0px;
    padding: 0px;
}

    #searchform label {
        display: none;
    }

    #searchform .searchfield,
    #searchform #s {
        float: left;
        color: #666666;
        width: 74%;
        height: 36px;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 1em;
        text-indent: 8px;
        line-height: 1.2;
        margin: 0px;
        padding: 0px !important;
    }

#searchsubmit {
    float: right;
    background: #F9F9F9;
    color: #666666;
    width: 20%;
    height: 36px;
    min-width: 42px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1em;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 6px 3% !important;
    box-sizing: border-box;
}

.web-search {
    display: inline-block;
    position:absolute;
    right: 20%;
}

    .web-search #searchform {
        margin: 0px;
    }

        .web-search #searchform .searchfield {
            background: #FFFFFF;
        }

#navigation {
    float: left;
    background-color: transparent;
    color: black;
    position: absolute;
    width: 80%!important;
    height: auto;
    top: 160%;
    font-size: 0.85em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    padding-left: 15%;
    z-index: 9999;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    -khtml-border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);*/
}

#navigation2 {
    float: left;
    background-color: transparent;
    color: black;
    position: absolute;
    width: 50%!important;
    height: auto;
    top: 0;
    font-size: 0.85em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    padding-left: 15%;
    z-index: 9999;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    -khtml-border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);*/
}

#navigation3 {
    float: left;
    background-color: transparent;
    color: black;
    position: absolute;
    width: 50% !important;
    height: auto;
    top: 0;
    font-size: 0.85em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    padding-left: 15%;
    z-index: 9999;
    right: 0px;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    -khtml-border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);*/
}

.root {
    height: auto;
    width: 100%;
    padding: 0px 12px;
    display: block;
    position: relative;
    float:left;
}

    /*.nav .nav-tabs .navbar-nav {
        width: 100%;
        left: 0px;
        border: none;
        border-bottom: none;
    }*/
    
    /*a[role="button"] {
        text-decoration: none;
    }*/

.header {
    left: 10%;
    margin: 24px 0px 0px 0px;
    padding: 0px;
    position: absolute;
    z-index: 9999;
    top: 0;
    height: auto;
    overflow: hidden;
    overflow-x: hidden;
    align-content: center;
}

.site-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BodyBackground {
    min-height: 100%;
    width: 100%;
    float: left;
    clear: both;
    position: absolute;
    overflow: scroll;
    display: inline-block;
    background-image: url('back.jpg');
    background-size: 100%;
    background-repeat: repeat;
}

.horse {
    height: auto;
    width: 80%;
    border-radius: 15px 15px 0px 0px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-self: center;
}

.Logo {
    height: auto;
    width: auto;
    position: relative;
    margin: 0px;
    display: block;
    border-radius: 10px 10px 10px 10px;
}

.text {
    resize: none;
    height: 150px!important;
    width: 100%;
    max-height: 200px;
}

.gform {
    background-color: antiquewhite;
    width: 80%;
    border-radius: 10px 10px 10px 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(#48d1cc));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
}

/*.dropdown-menu {
    max-width: 100px;
}*/

.notfound {
    background-color: antiquewhite;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(#48d1cc));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
}

.wrapper {
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    float: left;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.para {
    background-color: antiquewhite;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(#48d1cc));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), #48d1cc);
}

    .margin {
        margin-top: 50px;
        display: inline-block;
        height: auto;
        width: 100%;
    }

.Body {
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: 5%;
    background-color: transparent;
    text-align: left;
    float: left;
    padding-left: 17%;
    display: inline-block;
    overflow: hidden;
    overflow-y: hidden;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #48d1cc;
    color: white;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
}

    .anchor {
        font-size: 18px;
        text-decoration: none;
        color: black;
        vertical-align: middle;
    }
.anchor1 {
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.Absolute-Center {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    display: table;
    position: relative;
    border: 1px groove saddlebrown;
    bottom: 0;
    margin-top: 45px;
    text-align: center;
    vertical-align: middle;
    background-color: #48d1cc;
    height: 50px;
    width: 100px;
}

#button-toggle {
    bottom: 0px;
    width: 100%;
    background-color: #48d1cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
}

#button-toggle:hover {
    background-color: saddlebrown;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.button-toggle {
    bottom: 0px;
    width: 50%;
    border-radius: 10px;
    background-color: antiquewhite;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
}

    .button-toggle:hover {
        background-color: saddlebrown;
    }

    #button-toggle:hover #navbarSupportedContent {
        display: block!important;
    }

        #button-toggle:hover .collapse .navbar-collapse {
            display: block !important;
        }


.left {
    border-radius: 0px 0px 0px 15px;
}

.right {
    border-radius: 0px 0px 15px 0px;
}

.filler {
    display: table;
    position: relative;
    border: 1px groove saddlebrown;
    margin: auto;
    bottom: 0;
    margin-top: 45px;
    text-align: center;
    vertical-align: middle;
    background-color: #48d1cc;
    height: 50px;
    width: 615px;
}

.freq {
    display: table;
    position: relative;
    border: 1px groove saddlebrown;
    bottom: 0;
    margin-top: 45px;
    text-align: center;
    vertical-align: middle;
    background-color: #48d1cc;
    height: 50px;
    width: 150px;
}

        .freq:hover {
            background-color: #48d1cc;
        }

    .home:hover {
        background-color: #48d1cc;
    }

/*.dropdown:hover {
    background-color: transparent;
}*/

.dropdown {
    display: table;
    position: relative;
    border-left: 1px groove saddlebrown;
    border-right: 1px groove saddlebrown;
    text-decoration: none;
    color: black;
    font-size: 15px;
    bottom: 0;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #48d1cc;
    height: auto;
    width: auto;
    z-index: 9999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -khtml-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
}

#nav-dropdowntoggle {
    display: none;
}

.bg-light {
    background-color: transparent!important;
}

#basic-nav-dropdownnav {
    border: 1px groove saddlebrown;
    text-decoration: none;
    color: black;
    bottom: 0;
    vertical-align: middle;
    background-color: #48d1cc;
    height: auto;
    width: 100%;
    z-index: 9999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -khtml-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
}

.container {
    display: inline-block;
    background-color: transparent;
    position: absolute;
    max-width: 980px;
    width: 80%;
    border-radius: 0px;
}

#navbarSupportedContent {
    position: relative;
    border-left: 1px groove saddlebrown;
    border-right: 1px groove saddlebrown;
    text-decoration: none;
    color: black;
    font-size: 15px;
    bottom: 0;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #48d1cc;
    height: auto;
    width: auto;
    z-index: 9999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -khtml-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
}

#basic-nav-dropdown {
    display: table;
    position: relative;
    border-left: 1px groove saddlebrown;
    border-right: 1px groove saddlebrown;
    text-decoration: none;
    color: black;
    font-size: 15px;
    bottom: 0;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #48d1cc;
    height: auto;
    width: auto;
    z-index: 9999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -khtml-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
}

#basic-nav-dropdownFreq {
    display: table;
    position: relative;
    border-left: 1px groove saddlebrown;
    border-right: 1px groove saddlebrown;
    text-decoration: none;
    color: black;
    font-size: 15px;
    bottom: 0;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #48d1cc;
    height: auto;
    width: auto;
    z-index: 9999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -khtml-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
}

#basic-nav-dropdown text {
    top: 50%;
    left: 50%;
}


#basic-nav-dropdownFreq text {
    top: 50%;
    left: 50%;
}
#basic-nav-dropdown:hover {
    background-color: saddlebrown;
}
#basic-nav-dropdownFreq:hover {
    background-color: saddlebrown;
}

    .dropdown:hover .dropdown-menu {
        display: inline-block;
    }

.dropdown-menu {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100%!important;
    border: none;
}

    .dropdown:hover #menuItem {
        display: inline-block;
    }

#menuItem {
    display: none;
    position: relative;
    border: 1px groove saddlebrown;
    text-decoration: none;
    color: black;
    font-size: 15px;
    white-space: normal;
    bottom: 0;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #48d1cc;
    height: 25%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.30)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.30));
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 2px 2px;
    -khtml-border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4);
}

    #menuItem:hover {
        background-color: saddlebrown;
    }

#basic-nav-dropdown:hover #menuItem {
    display: inline-block;
}

*,
*::before,
*::after {
    box-sizing: none!important;
}

/*.dropdown:hover .menuItem {
    background-color: transparent;
    display: inline-block;
}

.dropdown:hover #menuItem {
    display: inline-block;
}*/

.corner-left {
    width: 0px;
    height: 0px;
    position: absolute;
    left: -1px;
    top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 8px solid #48d1cc;
}

.corner-right {
    width: 0px;
    height: 0px;
    position: absolute;
    right: -1px;
    top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 8px solid #48d1cc;
}

::-webkit-scrollbar {
    background: transparent;
}