/*.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}*/

body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.root {
    height: 100%;
    width: 100%;
}

.header {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.BodyBackground {
    width: 100%;
    background-image: url('backgroundimg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}

.wrapper {
    width: 100%;
    height: 865px;
    display: flex;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Body {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    overflow-y: hidden;
}

.Footer {
    width: 100%;
    background-color: saddlebrown;
    overflow: hidden;
    height: 100px;
}

.anchor {
    text-decoration: none;
}

.home {
    display: table;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100px;
}

.home:hover {
    background-color: goldenrod;
}

.Logo {
    height: 100px;
    width: 170px;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    background-image: url('logo.png');
    background-size: auto;
    background-repeat: no-repeat;
}